@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
/* font-family: 'Amatic SC', cursive; */

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: -webkit-fill-available;
  font-family: "Amatic SC", cursive;
}

body {
  text-align: center;
  background-color: rgb(237, 237, 237);
}

#container {
    height: 85vh;
    width: 39vw;
    margin: 0 auto;
}

h1 {
    margin-top: 2%;
    text-align: left;
    font-size: 3rem;
}

canvas {
  margin: 2% auto;
  border: 2px solid black;
  background-color: #fff;
  width: 560px;
  height: 360px;
  cursor: url("../css/Brush-tool-icon.png"), default;
}

.box {
  height: 15vh;
  width: 10vw;
  background-color: #fff;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

#figure {
  position: fixed;
  width: 8%;
  top: 32%;
  right: 18%;
}
